
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    font-size: larger;
    background-color: #06b6d4;
}

.header img {
    border-radius: 50%;
}

.header h1 {
    padding: 0;
    margin: 0;
}

.header img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.library{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*yes*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#formModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hidden {
    display: none;
}
