
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

input::-webkit-input-placeholder {
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #bae6fd;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    font-size: larger;
    background-color: #0ea5e9;
}

.header img {
    border-radius: 50%;
}

.header h1 {
    padding: 0;
    margin: 0;
}

.header img {
    transition: all 0.3s ease;
}

.header img:hover {
    transform: scale(1.1) rotate(360deg);
}

#new {
    width: fit-content;
    align-self: center;
    background: none;
    border: none;
    cursor: pointer;
}

#new:hover {
    transform: translateY(-5px);
    transition: all 0.2s ease;
}

.library{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 10px;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#formModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hidden {
    display: none;
}

#bookForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    gap: 20px;
    background-color: #bae6fd;
}

#bookForm .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

#bookForm .top h1 {
    margin: 0;
    padding: 0;
}

#bookForm .top button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

#bookForm .top button:hover {
    transform: scale(1.1);
    color: red;
    transition: all 0.2s ease;
}

#bookForm input:not([type="submit"]) {
    padding: 5px;
    border: none;
    background: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 20px;
    transition: all 0.3s ease;
}

#bookForm input:not([type="submit"]):focus {
    outline: none;
    background-color: #e0f2fe;
    border-bottom-color: #0ea5e9;
}

#submit {
    padding: 13px;
    width: fit-content;
    align-self: center;
    border-radius: 10px;
    font-size: 15px;
    background-color: #0ea5e9;
    color: white;
    font-weight: bold;
    transition: all 0.1s ease;
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: white;
    color: #0ea5e9;
}

.read {
    font-style: italic;
    display: flex;
    align-items: center;
    align-self: center;
    gap: 8px;
    font-size: 12px;
}

.bookCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    width: 70%;
    background-color: #e0f2fe;
}

.bookCard h2 {
    background-color: #7dd3fc;
    padding: 10px;
    border-radius: 8px;
}